<div *ngIf='(user|async)?.uid' (click)="togglePanel()" class="edit-button">
  <img id="edit-button" src="./../../assets/img/edit-icon-white.png" alt="">
</div>
<div class="control-panel" *ngIf='(user|async)?.uid'>
  <div id="control-panel-modal">
    <img src="../../assets/img/close-icon-red.png" (click)="closeModal()" alt="" class="close-button">
    <div *ngIf="addingGallery" id="add-gallery">
      <app-add-gallery></app-add-gallery>
    </div>
    <div *ngIf="removingGallery"  id="remove-gallery">
      <app-remove-gallery></app-remove-gallery>
    </div>
    <div *ngIf="editingGallery" id="edit-gallery">
      <app-edit-gallery></app-edit-gallery>
    </div>
    <div *ngIf="addingImage" id="add-image">
      <app-upload [galleryName]='(galleryName)'></app-upload>
    </div>
  </div>
  <div class="controls">
    <h5>Gallery</h5>
    <div class="buttons row">
      <a (click)="openModal(); addGallery()" class="button"><img src="./../../assets/img/add-gallery-icon-white.png" alt=""> <label>Add</label></a>
      <a (click)="openModal(); removeGallery()" class="button"><img src="./../../assets/img/remove-gallery-icon-white.png" alt=""><label>Remove</label></a>
      <a *ngIf="galleryName" (click)="openModal(); editGallery()" class="button"><img src="./../../assets/img/edit-gallery-icon-white.png" alt=""><label>Edit</label></a>
    </div>
    <div *ngIf="galleryName">
      <h5>Image</h5>
      <div class="buttons row">
        <a class="button">
          <img (click)="openModal(); addImages()" src="./../../assets/img/add-image-icon-white.png" alt=""><label>Add</label>
        </a>
      </div>
    </div>
  </div>
</div>

<div (click)="closeModal()" class="control-panel-bg">

</div>
