.container {
    padding-top: 70px;
    padding-bottom: 70px;
}

body {
    background-color: black;
    font-family: apertura, sans-serif;
}

h1 {
    text-align: right;
    color: white;
}

img {
    max-width: 100%;
    margin-top: 10px;
}

.btn-back {
    cursor: pointer;
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    background-color: transparent;
    color: white;
    border: white;
    border-style: solid;
    border-radius: 0px;
}

.btn-back:hover {
    background-color: rgba(194, 18, 18, 0.8)
}

.btn-back:active {
    background-color: rgba(95, 13, 13, 0.8)
}

.gallery-section {
    background-attachment: fixed;
    background-image: url('../../assets/img/gallery-bg.jpg');
}

@media only screen and (min-width: 900px) {
    .gallery-section {
        font-size: 70px;  
        padding-top: 70px;
    }
}