.container {
    padding-top: 110px;
}

h1 {
    text-align: right;
    color: white;
}

img {
    max-width: 100%;
    margin-top: 10px;
}

.btn-back {
    font-size: 24px;
    width: 100%;
    background-color: transparent;
    color: white;
    border: white;
    border-style: solid;
    border-radius: 0px;
}