.contact-section {
    background-image: url('../../assets/img/about-bg.jpg');
    background-size: cover;
}

body {
    background-color: black;
    font-family: apertura, sans-serif;
}

.container {
    min-height: 100vh;
    padding-top: 150px;
}

.card {
    background-color: rgba(0, 0, 0, .8);
    color: white;
    border-style: none;
}

.name {
    font-weight: 500;
    font-size: 25px;
}

.btn-send {
    cursor: pointer;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    background-color: transparent;
    color: white;
    border: white;
    border-style: solid;
    border-radius: 0px;
}

.btn-send:hover {
    background-color: rgba(194, 18, 18, 0.8)
}

.btn-send:active {
    background-color: rgba(95, 13, 13, 0.8)
}

h1 {
    color: white;
    text-align: right;
}

.social-links {
    text-align: center;
    margin-bottom: 20px;
}


.gallery-title {
    font-size: 30px;
    text-align: right;
    color: white;
}

.social {
    max-width: 40px;
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    .contact-section {
        background-image: url('../../assets/img/about-bg-mobile.jpg');
    }
    .container {
        padding-top: 100px;
    }
    .gallery-title {
        margin-top: 10px;
        font-size: 50px;
    }
}

@media only screen and (min-width: 900px) {
    .gallery-title {
        margin-top: 50px;
        font-size: 70px;
    }
}