<div class="contact-section">
    <div class="container">
      <div class="row">
        <div class="hidden-sm col-md-6 col-lg-8">
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <h1 class="card-title">About</h1>
          <div class="card">
            <div class="card-body">
              <p>
                <span class="name">Joel Adams</span> is a Portland, OR based professional photographer specializing in Portraiture, Boudoir, and Event photography. Joel has over a decade of experience in photography as well as training from the University of Alaska.<br>
                <br>
                To see more of Joel's work follow him on social media, or support his work on Patreon for uncensored sets and behind the scenes content.
              </p>
              <div class="social-links">
                  <a target="_blank" href="https://www.instagram.com/joelaphoto"><img class="social" src="../../assets/img/insta.png" alt=""></a>
                  <a target="_blank" href="https://www.twitter.com/joelaphoto"><img class="social" src="../../assets/img/twitter.png" alt=""></a>
                  <a target="_blank" href="https://www.patreon.com/joelaphoto"><img class="social" src="../../assets/img/patreon.png" alt=""></a>
              </div>
              <button class="btn btn-send" (click)="navToContact()">Contact</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
