div.contact-section {
    min-height: 100vh;
    padding-top: 135px;
    @media (min-width: 768px) {
        padding-top: 130px;
    }
    @media (min-width: 990px) {
        padding-top: 140px;
    }

    .row {
        .card {
            background-color: transparent;
            color: white;
        }
        .info-box {
            h1 {
                font-size: 30px;
                text-align: left;
                text-transform: capitalize;
                color: white;
                @media only screen and (min-width: 768px) {
                    font-size: 50px;
                }
                
                @media only screen and (min-width: 900px) {
                    font-size: 70px;
                }
            }
            p {
                color: white;
            }
            
        }
    }
}

.contact-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    a {
        max-width: 50px;
        margin: 0px 20px 40px 20px;
        img {
            display: block;
            width: 100%;
        }
    }
}