
nav.navbar {

    #siteNavbar {
        transition: all .2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.45);

        @media (min-width: 990px) {
            background-color: transparent;

        }
    }
    button.navbar-toggler {
        background-color: rgba(0, 0, 0, 0.45);
    }

    
    .dropdown-menu {
        color: white;
        background-color: transparent;
        outline: none;
        border: none;
        transition: all .2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.45);

        hr {
            width: 95%;
            border-color: rgba(255, 255, 255, 0.5);
            height: 1px;
            margin: 3px auto;
        }

        .dropdown-item {
            cursor: pointer;
            text-align: right;
            margin: 3px 0;
            text-transform: capitalize;
        }
        .dropdown-item:hover {
            background-color: rgba(255, 0, 0, 0.568);
        }
        .dropdown-item:active {
            background-color: red;
        }
    }
    .navbar-brand img {
        max-width: 120px;
        transition: all .2s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.9);
        }
    }
    
li.nav-item {
    text-align: right;
    padding-right: 10px;
    a.nav-link{
        color: white;
        cursor: pointer;
    }
    .text-link,.dropdown-item {
        transition: background-color 0.5s ease;
        color: white;

        &:hover {
            background-color: red;
        }
    }
}

div.social {
    display: flex;
    float: right;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    @media(min-width: 768px) {
        margin-top: 0px;

    }
    li.nav-item.image-link{
        width: 40px;
        img {
            max-width: 35px;
            border-width: 3px;
            padding: 5px;
            position: relative;
            bottom: 5px;
            transition: all .2s ease-in-out;
        &:hover {
            background-color: red;
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.9);
        }
    }
}
}
    
}
     
.navbar-toggler {
    color: rgba(255, 255, 255, 1);
}

