
nav.navbar {
    .navbar-nav {
        margin-bottom: 120px; 
    }
    
    .dropdown-menu {
        color: white;
        background-color: rgba(0, 0, 0, 0.767);

        .dropdown-item {
            cursor: pointer;
        }
        .dropdown-item:hover {
            background-color: rgba(255, 0, 0, 0.568);
        }
        .dropdown-item:active {
            background-color: red;
        }
    }
    .navbar-brand img {
        max-width: 28vw;
    }
    

        a.nav-link{
            color: white;
            cursor: pointer;
            &.text-link {
                transition: background-color 0.5s ease;
    
                &:hover {
                    background-color: red;
                }
            }
            &.image-link{
                img {
                    max-width: 35px;
                    border-radius: 10px;
                    border-width: 3px;
                    padding: 5px;
                    position: relative;
                    bottom: 5px;
                    transition: background-color 0.5s ease;
                    &:hover {
                        background-color: red;
                    }
                }
            }
        }
        
    .navbar-toggler {
        color: rgba(255, 255, 255, 1);
        margin-bottom: 50px;

        @media only screen and (min-width: 768px) {        
            margin-bottom: 130px;
        }
    }
}
