<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand collapser" href="#"><img src="../../assets/img/logo.png" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#siteNavbar" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="siteNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link text-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Portfolio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <hr>
            <a *ngFor="let gallery of galleries" class="dropdown-item collapser" (click)='toGallery(gallery.title)'>{{gallery.title}}</a>
            <a class="dropdown-item collapser" href="https://www.joelradams.com">Web Development</a>
            <hr>
          </div>
        </li>
        <li class="nav-item collapser">
          <a class="nav-link text-link " (click)='toContact()'>Contact</a>
        </li>
        <li class="nav-item collapser">
          <a class="nav-link text-link" (click)='toAbout()'>About</a>
        </li>
        <div class="social">
          <li class="nav-item image-link">
            <a class="nav-link" target="_blank" href="https://www.instagram.com/some.babes.occasionally"><img src="../../assets/img/insta.png" alt=""></a>
          </li>
          <li class="nav-item image-link">
            <a class="nav-link" target="_blank" href="https://www.twitter.com/joelaphoto"><img src="../../assets/img/twitter.png" alt=""></a>
          </li>
          <li class="nav-item image-link">
            <a class="nav-link" target="_blank" href="https://www.patreon.com/joelaphoto"><img src="../../assets/img/patreon.png" alt=""></a>
          </li>
        </div>

        <div *ngIf='(user|async)?.uid'>

        <li class="nav-item">
            <a class="nav-link" href="#" (click)="logOut()">Log Out</a>
        </li>

      </div>

      </ul>
    </div>
  </div>
  <div *ngIf='(user|async)?.uid'>
  <app-add-gallery></app-add-gallery>
  </div>
</nav>