
nav.navbar {
    .navbar-nav {
        margin-bottom: 120px; 
    }
    
    .dropdown-menu {
        color: white;
        background-color: rgba(0, 0, 0, 0.767);

        .dropdown-item {
            cursor: pointer;
        }
        .dropdown-item:hover {
            background-color: rgba(255, 0, 0, 0.568);
        }
        .dropdown-item:active {
            background-color: red;
        }
    }
    .navbar-brand img {
        max-width: 28vw;
    }
    
    .nav-link {
        color: white;
        cursor: pointer;
        a {
            position: relative;
        }
        a:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: white;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
        a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }
        img {
            max-width: 20px;
        }
    }
    .navbar-toggler {
        color: rgba(255, 255, 255, 1);
        margin-bottom: 50px;

        @media only screen and (min-width: 768px) {        
            margin-bottom: 130px;
        }
    }
}
