div.remove-gallery-modal {
    padding: 20px 10px;
    text-align: center;
    h4 {
        display: inline-block;
        text-transform: capitalize;
    }
    button {
        display: inline-block;
        margin: 10px auto;
    }
}