.container {
    padding-top: 130px;
}

.gallery-title {
    text-align: right;
    color: white;
}

#upload-window {
    position: relative;
    float: right;
    margin-top: 10px;
    z-index: 10;
}

ul { 
    margin-top: 50px;
    padding:0; 
    width:100%; 
    columns: 2;
    list-style: none;
}

li {
    break-inside: avoid-column;
    margin-bottom: 10px;
}

img {
    display: block;
    max-width: 100%;
    cursor: pointer;
}

.btn-danger {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    ul {
        columns: 3;
    }
  }