.card {
    border-style: none;
    background-color: transparent;
    float: right;
    color: white;
    max-width: 800px;
    margin-top: 200px;
}

.container {
    min-height: 90vh;
}

.login-section {
    background-image: url('../../assets/img/slides/img-1.jpg'); 
    background-size: cover;
    background-position: center left;
    padding-top: 50px;
    padding-bottom: 25px;
}