
div.add-modal {
    padding: 7px 10px;
    z-index: 1001;
    background-color: white;
    p {
        margin-top: 10px;
        font-size: 12px;
        text-align: center;
    }

    div.error {
        margin: 10px 0px;
        color: red;
    }

}