<div class="image-detail-container">
  <div class="controls">
    <img class="ctrl-left" (click)="prevImage()" src="../../assets/img/caret-left.png" alt="">
    <img class="ctrl-right" (click)="nextImage()" src="../../assets/img/caret-right.png" alt="">
  </div>
  <app-gallery-image-detail [imageToDisplay]="imageToDetail" id='image-detail' (click)='closeImageDetail()'>
  </app-gallery-image-detail>
  <div (click)="closeImageDetail()" class="modal-bg"><img src="../../assets/img/close-icon-white.png" (click)="closeImageDetail()" alt="Close" class="ctrl-close">
  </div>
</div>
<div class="about-section container">
  <div class="row">
      <div class="col-md-12 col-lg-6">
          <div class="info-box">
              <h1>About</h1>
              <p>
                <span class="name">Joel Adams</span> is a Portland, OR based professional photographer specializing in Portraiture, Boudoir, and Event photography. Joel has over a decade of experience in photography as well as training from the University of Alaska.<br>
                <br>
                To see more of Joel's work follow him on social media, or support his work on Patreon for uncensored sets and behind the scenes content.
              </p>
              <button class="contact-btn" routerLink="/contact">Contact</button>
          </div>
      </div>
      <div class="col-md-12 col-lg-6">
          <ul id="about-gallery">
              <li *ngFor="let image of galleryImages; let i = index">
                  <img src="{{image.url}}" (click)='goToImageDetail(image, i)' alt="">
              </li>
          </ul>
      </div>
  </div>
</div>
<app-footer></app-footer>
