div.about-section {
    min-height: 100vh;
    padding-top: 135px;
    @media (min-width: 768px) {
        padding-top: 130px;
    }
    @media (min-width: 990px) {
        padding-top: 140px;
    }

    .row {
            .info-box {
                h1 {
                    font-size: 30px;
                    text-align: left;
                    text-transform: capitalize;
                    color: white;
                    @media (min-width: 768px) {
                        font-size: 50px;
                    }
                    
                    @media (min-width: 900px) {
                        font-size: 70px;
                    }
                }
                p {
                    color: white;
                }
            }

            ul { 
                margin-top: 10px;
                padding:0; 
                width:100%; 
                columns: 2;
                list-style: none;
                @media only screen and (min-width: 768px) {
                    columns: 3;
                }
                li {
                    break-inside: avoid-column;
                    margin-bottom: 10px;
                    position: relative;
                    //display: none;
                    img {
                        max-width: 100%;
                        cursor: pointer;
                        transition: all .2s ease-in-out;
                        &.portfolio-image {
                            &:hover {
                                outline: red g 4px;
                            }
                            &:active {
                                transform: scale(0.9);
                            }
                        }
     
                    }
                }
            }
    }
}

.image-detail-container {
    display: none;
    margin-bottom: 20px;
    app-gallery-image-detail {
        position: fixed;
        z-index: 2500;
        img {
            max-height: 75vh;
        }
        top: 0;
        left: 0;
        right: 0;
    }
    div.modal-bg {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 2000;
        top: 0;
        left: 0;
        img.ctrl-close {
            position: fixed;
            width: 30px;
            left: 50%;
            margin-left: -15px;
            top: 93%;
            @media(min-width: 768px) {
                top: 20px;
                left: 90%;
            }
            opacity: 0.35;
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover {
                opacity: 0.65;
                transform: scale(1.1);
            }
            &:active {
                opacity: 0.65;
                transform: scale(0.9);
            }
        }
    }
    div.controls {
        position: fixed;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: auto;
        margin: 0 auto;
        top: 85%;
        z-index: 3100;
        left: 50%;
        transform: translate(-50%, -50%);
        @media screen and (min-width: 768px) {
            position: fixed;
            top: 60%
        }
        .ctrl-right {
            margin-right: 20px;
        }

        .ctrl-left {
            margin-left: 20px;
        }



        .ctrl-right, .ctrl-left, .ctrl-close{
            opacity: 0.35;
            width: 50px;
            cursor: pointer;
            transition: all .2s ease-in-out;
            &:hover {
                opacity: 0.65;
                transform: scale(1.1);
            }
            &:active {
                opacity: 0.65;
                transform: scale(0.9);
            }
        }
    }
}