<div class="image-detail-container">
  <div class="controls">
    <img class="ctrl-left" (click)="prevImage()" src="../../assets/img/caret-left.png" alt="">
    <img class="ctrl-right" (click)="nextImage()" src="../../assets/img/caret-right.png" alt="">
  </div>
  <app-gallery-image-detail [imageToDisplay]="imageToDetail" id='image-detail' (click)='closeImageDetail()'>
  </app-gallery-image-detail>
  <div (click)="closeImageDetail()" class="modal-bg"><img src="../../assets/img/close-icon-white.png" (click)="closeImageDetail()" alt="Close" class="ctrl-close">
  </div>
</div>
<div class="about-section container">
  <div class="row">
      <div class="col-md-12 col-lg-6">
          <div class="info-box">
              <h1>About</h1>
              <p>
                <span class="name">Hello!</span> my name is Joel and I am a Portland, OR based professional photographer specializing in conceptual, event, and boudoir photography. I have over a decade of experience in photography, and in that time I've worked with dozens of models, hundreds of musicians, and numerous gigs for friends, family, and corporate clients.
              </p>
              <p>
                I was born and raised in Anchorage, Alaska, and cut my teeth photographing live music events for friends. For a few years I shot concerts every night, until moving to Seattle and changing gears into more boudoir focused work. I'm currently living in Portland, OR and expanding my conceptual photography portfolio so if you represent a brand, are an artist yourself, or a model, please reach out if you're interested in collaborating!
              </p>
              <button class="contact-btn" routerLink="/contact">Contact</button>
          </div>
      </div>
      <div class="col-md-12 col-lg-6">
          <ul id="about-gallery">
              <li *ngFor="let image of galleryImages; let i = index">
                  <img src="{{image.url}}" (click)='goToImageDetail(image, i)' alt="">
              </li>
          </ul>
      </div>
  </div>
</div>
<app-footer></app-footer>
