<div class="gallery-section">
  <div class="container">
    <h1 class="gallery-title">{{galleryName}}</h1>
    <div class="image-detail-container">
      <div class="controls">
<img class="ctrl-left" (click)="prevImage()" src="../../assets/img/caret-left.png" alt="">
        <img class="ctrl-right" (click)="nextImage()" src="../../assets/img/caret-right.png" alt="">
    </div>
      <app-portfolio-image-detail [imageToDisplay]="imageToDetail" id='image-detail' (click)='closeImageDetail()'>
      </app-portfolio-image-detail>
    </div>
    <div id="loading-gallery">
      <div class="progress">
        <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': imagesLoadedPercentage + '%' }"></div>
      </div>
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>

    <ul id="gallery-list">
      <li *ngFor="let image of images; let i = index">

        <a (click)='goToImageDetail(image, i)'><img (load)='isLoaded()' src="{{image.url}}"></a>
        <div *ngIf='(user|async)?.uid'>
          <button class="btn btn-danger" (click)='deleteImage(image)'>Delete Image</button>
        </div>
      </li>
    </ul>
    <div id="upload-window" *ngIf='(user|async)?.uid'>
      <app-upload [galleryName]='(galleryName)'></app-upload>
    </div>
  </div>
</div>