<body id="index">
    <div class="controls">
        <div class="ctrl-left"><img src="../../assets/img/caret-left.png" alt=""></div>
        <div class="ctrl-right"><img src="../../assets/img/caret-right.png" alt=""></div>
    </div>
    <div class="slideshow-container">
        <div class="bg active"></div>
        <div class="bg"></div>
    </div>
    <div class="preload">
        <img src="../../assets/img/slides/img-1-min.jpg" alt="">
        <img src="../../assets/img/slides/img-2-min.jpg" alt="">
        <img src="../../assets/img/slides/img-3-min.jpg" alt="">
        <img src="../../assets/img/slides/img-4-min.jpg" alt="">
        <img src="../../assets/img/slides/img-5-min.jpg" alt="">
        <img src="../../assets/img/slides/img-6-min.jpg" alt="">
        <img src="../../assets/img/slides/img-7-min.jpg" alt="">
        <img src="../../assets/img/slides/img-8-min.jpg" alt="">
        <img src="../../assets/img/slides/img-9-min.jpg" alt="">
        <img src="../../assets/img/slides/img-10-min.jpg" alt="">
        <img src="../../assets/img/slides/img-11-min.jpg" alt="">
        <img src="../../assets/img/slides/img-12-min.jpg" alt="">
        <img src="../../assets/img/slides/img-13-min.jpg" alt="">
        <img src="../../assets/img/slides/img-14-min.jpg" alt="">
        <img src="../../assets/img/slides/img-15-min.jpg" alt="">
        <img src="../../assets/img/slides/img-16-min.jpg" alt="">
        <img src="../../assets/img/slides/img-17-min.jpg" alt="">
        <img src="../../assets/img/slides/img-18-min.jpg" alt="">
        <img src="../../assets/img/slides/img-19-min.jpg" alt="">
        <img src="../../assets/img/slides/img-20-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-1-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-2-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-3-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-4-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-5-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-6-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-7-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-8-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-9-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-10-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-11-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-12-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-13-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-14-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-15-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-16-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-17-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-18-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-19-min.jpg" alt="">
        <img src="../../assets/img/slides/mobile-img-20-min.jpg" alt="">
    </div>


</body>